@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Palanquin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #E1FFEE;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #A5F1E9;
}

nav > a {
    text-decoration: none;
    color: #404040;
    font-weight: 700;
    font-size: 25px;
}

.toggle-btn {
    display: none;
}

.nav-links {
    display: flex;
}

.nav-links > li {
    list-style-type: none;
}

.nav-links > li > a {
    text-decoration: none;
    color: #808080;
    padding: 25px;
}

.nav-links > li > a:hover {
    color: #404040;
}

.nav-links > li > .active {
    color: #404040;
}

.title-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.title-intro {
    display: flex;
    flex-direction: column;justify-content: center;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
    padding-right: 25px;
}

.title-img > img {
    width: 600px;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
}

.learn-section {
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.card-div {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    color: #404040;
}

.card-main {
    width: 400px;
    padding: 25px;
    border: 1px solid #404040;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#card-1 {
    margin-right: 50px;
}

.card-main:hover {
    transition: 0.5s all;
    background-color: aliceblue;
}

.card-img > img {
    width: 100%;
    margin-bottom: 25px;
}

.card-content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.card-main:hover {
    box-shadow: 5px 10px 18px #888888;
}

.quote-section {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    padding: 25px;
}

.quote-box {
    width: 500px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    font-family: "Palanquin", sans-serif;
    line-height: 1;
    padding: 15px;
}

.comma {
    color: plum;
    font-size: 50px;
}

.contact-section {
    width: 100%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    padding: 25px;
}

.contact-section > h1 {
    margin-bottom: 25px;
}

.connect-box {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.connect-inside > a {
    display: flex;
    text-decoration: none;
    color: #888888;
    font-size: 17px;
    margin-bottom: 5px;
}

.connect-inside > a:hover {
    color: #404040;
}

.social-icon {
    font-size: 25px;
    margin-right: 15px;
}

footer {
    background-color: #7FBCD2;
    padding: 25px;
    font-family: "DM Sans", sans-serif;
}

.copyright-div > p > a {
    text-decoration: none;
    color: #404040;
}

.copyright-div > p > a:hover {
    color: #333;
}

.copyright-div > a {
    text-decoration: none;
    color: #404040;
}

.copyright-div > a:hover {
    color: #333;
}

.tos {
    margin-right: 25px;
}

@media screen and (max-width: 900px) {
    .card-div {
        flex-direction: column;
        align-items: center;
    }

    #card-1 {
        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .title-section {
        flex-direction: column-reverse;
    }

    .title-img {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    .title-intro {
        padding-right: 0;
    }

    .learn-section {
        margin-top: 0;
    }
}

@media screen and (max-width: 460px) {
    .card-main {
        width: 100%;
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 550px) {
    .quote-box {
        width: 100%;
        padding: 15px;
        font-size: 3.5vw;
    }

    .comma {
        font-size: 12vw;
    }
}

@media screen and (max-width: 650px) {
    .title-img > img {
        width: 100%;
        border-radius: 15px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding-right: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #A5F1E9;
        width: 100%;
        align-items: center;
        top: 82px;
        left: 0;
    }

    .nav-links.active-toggle {
        display: flex;
    }

    .nav-links > li {
        width: 100%;
        text-align: center;
    }

    .nav-links > li > a {
        display: block;
    }

    .toggle-btn {
        display: flex;
        position: absolute;
        right: 25px;
    }

    .nav-icon {
        font-size: 30px;
    }

    .nav-icon.rotate-nav {
        transform: rotate(135deg);
        transition: all 0.5s;
    }
}

@media screen and (max-width: 450px) {
    .connect-box {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .card-img > img {
        margin-bottom: 0;
    }

    .connect-inside > a {
        font-size: 5vw;
    }
}